extends layout

block content

  br
  form.form-horizontal(method='POST' action='')
    div.form-group
      .col-sm-3
        label.control-label Подразделение
      .col-sm-9
        p.form-control-static #{department.name}
    div.form-group
      .col-sm-3
        label(for='input-steward') Руководитель
      .col-sm-6
        select#input-steward.form-control(name='steward' required='true')
          for steward in stewards
            if department
              option(value=steward._id selected=(steward._id.toString()==department._steward ? 'selected' : false) ) #{steward.name}
            else
              option(value=steward._id) #{steward.name}
    br
    div.form-group
      .col-sm-offset-1.col-sm-6
        button.btn.btn-primary(type='submit') Запомнить
      .col-sm-4
        button#cancel.btn.btn-danger(autofocus) Отменить

  if errors 
    ul
      for error in errors
        li!= error.msg