extends layout

block content
  .container
    .row
      .col-sm-3.col-md-offset-1
        h5 Документы за #{data.year} год
        pre.
          Количество:
          #[strong Подразделения:] !{data.departments}
          #[strong Договоры:] !{data.contracts}
          #[strong Руководители:] !{data.stewards}
          #[strong Поступления:] !{data.incomes}
          #[strong Затраты0:] !{data.outlays0}
          #[strong Затраты1:] !{data.outlays1}

          данные от
          #[strong !{data.fromdate}]
          загружены
          #[strong !{data.loaded}]

          !{data.version}
    .row
      .col-sm-5.col-md-offset-1
        div(class="btn-toolbar")
          div(class="btn-group")
            button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false") #{year}
              span(class="caret" style="margin-left: 5px;") 
            ul(class="dropdown-menu")
              each  val in year_list
                li: a(href ="/report/option/year/" + val.name) #{val.name}
          div(class="btn-group")
            button(type="button" class="btn btn-default" onclick="this.innerHTML='Загружаю...'; window.location.href='/admin/importdata';") Импорт данных
          div(class="btn-group")
            button(type="button" class="btn btn-default" style="float: right" onclick="this.innerHTML='Вычисляю...'; window.location.href='/admin/diff';") Сверка
