extends layout
block content
  h2= title
  h3= subtitle 
  br
  if error
    p Error Ошибка
  else
    h4 Количество документов:
    ul
      li #[strong Подразделения:] !{data.department_count}
      li #[strong Договоры:] !{data.contract_count}
      li #[strong Сотрудники:] !{data.steward_count}
      li #[strong Источники:] !{data.source_count}
      li #[strong Классификатор:] !{data.eclass_count}
      li #[strong Поступления:] !{data.income_count}
      li #[strong Затраты:] !{data.outlay_count}
    h5 Данные от даты
    pre.
      Файл Inet_SmetaLSV.txt
          atime: !{data.tbtime.atime}
          #[strong mtime: !{data.tbtime.mtime}] modification time - время последнего изменения содержимого
          ctime: !{data.tbtime.ctime}
      birthtime: !{data.tbtime.birthtime}
    h5 Program version #{version}
