doctype html
html(lang="ru")
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery-3.3.1.min.js')
    script(src='/js/bootstrap.min.js')
  body
    .container
      .row
        .col-sm-3
          h5 Документы за #{dataYear} год
          pre.
            Количество:
            #[strong Подразделения:] !{data.departments}
            #[strong Договоры:] !{data.contracts}
            #[strong Поступления:] !{data.incomes}
            #[strong Затраты0:] !{data.outlays0}
            #[strong Затраты1:] !{data.outlays1}

            modification time
            Inet_MUSmetaLSAll.txt
            #[strong !{data.fromdate}]
            загружено
            #[strong !{data.loaded}]

            !{data.version}
        .col-sm-9
          h2(class="col-sm-offset-1")= title
          h3(class="col-sm-offset-1")= subtitle 
          br
          p(class="col-sm-offset-2") Введите имя пользователя и пароль.
          form(class="form-horizontal login-form" name="login-form")
            .form-group
              label(for="input-username" class="col-sm-2 control-label") Login
              .col-sm-4
                input#input-username(name="username" type="text" class="form-control" autofocus)
            .form-group
              label(for="input-password" class="col-sm-2 control-label") Password
              .col-sm-4
                input#input-password(name="password" type="password" class="form-control")
            .form-group
              div(class="col-sm-offset-2 col-sm-9")
                button(type="submit" class="btn btn-primary col-sm-3" data-loading-text="Отправляю...") Войти
                span(class="help-block error")
    script.
      $(document.forms['login-form']).on('submit', function() {
        var form = $(this);
        $('.error', form).html('');
        $(":submit", form).button("loading");
        $.ajax({
          url: "/",
          method: "POST",
          data: form.serialize(),
          complete: function() {
            $(":submit", form).button("reset");
          },
          statusCode: {
            200: function() {
              form.html("Вы вошли в сайт").addClass('alert-success');
              window.location.href = "/";
              //window.location.href = "/report/eclasses";
            },
            403: function(jqXHR) {
              var error = JSON.parse(jqXHR.responseText);
              $('.error', form).html(error.message);
            }
          }
        });
        return false;
      });
