extends layout
block content
  div
    table(class='table tree table-condensed')
      thead
          tr
                th Подразделение
                th(class='text-right') Ост. на начало
                th(class='text-right') Поступление денеж срв.
                th(class='text-right') Кассовые затраты
                th(class='text-right') Остаток денеж. средств
      tbody
        each department in record_list
          tr(class= department.trClass)
                td
                  span &nbsp;
                    a(href=department.url) #{department.name}
                td(class='text-right cost') #{department.estimate.remains} 
                td(class='text-right cost') #{department.estimate.income} 
                td(class='text-right cost') #{department.estimate.outlay} 
                td(class='text-right cost') #{department.estimate.balance} 
  script(src='/js/jquery.treegrid.js')
  script(src='/js/jquery.treegrid.bootstrap3.js')
  script(src='/js/jquery.cookie.js')
  script.
    $(document).ready(function(){ 
      $('.tree').treegrid({initialState: 'collapsed', saveState: true}).treegrid('getRootNodes').treegrid('expand');
    });
