extends layout
block content
  div
    h4!= longTitle
    table(class='table tree table-condensed')
      thead
          tr
                th!= title
                th(class='text-right') Задание
                th(class='text-right') Исполнено
                th(class='text-right') Остаток
      tbody
        each department in record_list
          tr(class= department.trClass)
                td
                  span &nbsp;
                    a(href=department.url) #{department.name}
                td(class='text-right cost') #{department.estimate.plan} 
                td(class='text-right cost') #{department.estimate.outlayO} 
                td(class='text-right cost') #{department.estimate.balanceE} 
  script(src='/js/jquery.treegrid.js')
  script(src='/js/jquery.treegrid.bootstrap3.js')
  script(src='/js/jquery.cookie.js')
  script.
    $(document).ready(function(){ 
      $('.tree').treegrid({initialState: 'collapsed', saveState: true}).treegrid('getRootNodes').treegrid('expand');
    });
