extends layout
block content
  div
    table(class='table tree table-condensed')
      thead
        tr
          th Подразделение
          th(class='text-right') Начало
          th(class='text-right') План
          th(class='text-right') Приход
          th(class='text-right') Расход сОб
          th(class='text-right') Расход факт
          th(class='text-right') Остаток факт
          th(class='text-right') Остаток
          th(class='text-right') Остаток безОб
      tbody
        each department in department_list
          tr(class= department.trClass)
            td
              span &nbsp;
                a(href=department.url) #{department.name}
            td(class='text-right cost') #{department.estimate.remains} 
            td(class='text-right cost') #{department.estimate.plan} 
            td(class='text-right cost') #{department.estimate.income} 
            td(class='text-right cost') #{department.estimate.outlayO} 
            td(class='text-right cost') #{department.estimate.outlay} 
            td(class='text-right cost') #{department.estimate.balance} 
            td(class='text-right cost') #{department.estimate.balanceE} 
            td(class='text-right cost') #{department.estimate.balanceWO} 
  script(src='/js/jquery.treegrid.js')
  script(src='/js/jquery.treegrid.bootstrap3.js')
  script(src='/js/jquery.cookie.js')
  script.
    $(document).ready(function(){ 
      $('.tree').treegrid({'initialState': 'collapsed', 'saveState': true})
      .treegrid('getRootNodes').treegrid('expand');
    });
