extends layout
block content
  h5!= longTitle
  div
    ul(class="nav nav-tabs")
      li(class= tabs[0].flag ? "active" : ""): a(href= tabs[0].href) Смета
      li(class= tabs[1].flag ? "active" : ""): a(href= tabs[1].href) Доходы
      li(class= tabs[2].flag ? "active" : ""): a(href= tabs[2].href) Расходы
    div
      table(class='table table-condensed table-striped')
        if tabs[0].flag
          thead
            tr
              th!= title1
              each header_item in estimate_index[variant]
                th(class='text-right') #{header_item.header}
          tbody
            each record in record_list
              tr
                td: a(href=record.url) #{record.name}
                each header_item in estimate_index[variant]
                  td(class='text-right cost') #{record.estimate[header_item.value]}
          tfoot#total
            tr
              th Итого
              each header_item in estimate_index[variant]
                th(class='text-right') 
        if tabs[1].flag
          thead
            tr
              th Дата
              th(class='text-right')  Сумма
              th Примечание
          tbody
            each income in income_list
              tr
                td(class='date') #{income.date}
                td(class='text-right cost') #{income.total}
                td #{income.note}
          tfoot#total
            tr
              th Итого
              th(class='text-right') 
              th
        if tabs[2].flag
          thead
            tr
              th Дата
              th КОСГУ
              th Операция
              th ВидЗатрат
              th(class='text-right')  Сумма
              th Контрагент
              th Контракт
              th Примечание
          tbody
            each outlay in outlay_list
              tr
                td(class='date') #{outlay.date}
                td #{outlay.eCode}
                td #{outlay.operation}
                td #{outlay.species}
                td(class='text-right cost') #{outlay.total}
                td #{outlay.partner}
                td #{outlay.agreement}
                td #{outlay.note}
          tfoot#total
            tr
              th Итого
              th
              th
              th
              th(class='text-right') 
              th
              th
              th
