extends layout
block content
  h5!= longTitle
  div
    ul(class="nav nav-tabs hidden-print")
      li(class= tabs[0].flag ? "active" : ""): a(href= tabs[0].href) Смета
      li(class= tabs[1].flag ? "active" : ""): a(href= tabs[1].href) Доходы
      li(class= tabs[2].flag ? "active" : ""): a(href= tabs[2].href) Расходы #{ecode}
      if tabs[2].flag
        li(class="dropdown")
          button(type="button" class="btn btn-default dropdown-toggle" id="outlaysmenu" data-toggle="dropdown") Все записи
            span(class="caret" style="margin-left: 5px;")
          ul(class="dropdown-menu")
            li: a(href="#" onclick="monthFilter('11','Декабрь')") Декабрь
            li: a(href="#" onclick="monthFilter('10','Ноябрь')") Ноябрь
            li: a(href="#" onclick="monthFilter('9','Октябрь')") Октябрь
            li: a(href="#" onclick="monthFilter('8','Сентябрь')") Сентябрь
            li: a(href="#" onclick="monthFilter('7','Август')") Август
            li: a(href="#" onclick="monthFilter('6','Июль')") Июль
            li: a(href="#" onclick="monthFilter('5','Июнь')") Июнь
            li: a(href="#" onclick="monthFilter('4','Май')") Май
            li: a(href="#" onclick="monthFilter('3','Апрель')") Апрель
            li: a(href="#" onclick="monthFilter('2','Март')") Март
            li: a(href="#" onclick="monthFilter('1','Февраль')") Февраль
            li: a(href="#" onclick="monthFilter('0','Январь')") Январь
            li(class = "divider")
            li: a(href="#" onclick="monthFilter(null,'Все записи')") Все записи
    div
      if tabs[0].flag
        table(class='table table-condensed table-striped')
          thead(class='sticky')
            tr
              th!= title1
              each header_item in estimate_index[variant]
                th(class='text-right') #{header_item.header}
          tbody
            each record in record_list
              tr
                td: a(href=record.url) #{record.name}
                each header_item in estimate_index[variant]
                  td(class='text-right cost uptoruble') #{record.estimate[header_item.value]}
          tfoot#total
            tr
              th Итого
              each header_item in estimate_index[variant]
                th(class='text-right cost') 
      if tabs[1].flag
        table(class='table table-condensed table-striped')
          thead(class='sticky')
            tr
              th Дата
              th(class='text-right')  Сумма
              th Примечание
          tbody
            each income in income_list
              tr
                td(class='date') #{income.date}
                td(class='text-right cost') #{income.total}
                td #{income.note}
          tfoot#total
            tr
              th Итого
              th(class='text-right cost') 
              th
      if tabs[2].flag
        table(class='table table-condensed table-striped' id='outlaystable')
          thead(class='sticky')
            tr
              th Дата
              th КОСГУ
              th Операция
              th ВидЗатрат
              th(class='text-right')  Сумма
              th Контрагент
              th Контракт
              th Примечание
          tbody
            each outlay in outlay_list
              tr
                td(class='date') #{outlay.date}
                td #{outlay.eCode}
                td #{outlay.operation}
                td #{outlay.species}
                td(class='text-right cost') #{outlay.total}
                td #{outlay.contract}
                td #{outlay.steward}
                td #{outlay.parent}
                //td #{outlay.partner}
                //td #{outlay.agreement}
                //td #{outlay.note}
          tfoot#total
            tr
              th Итого
              th
              th
              th
              th(class='text-right cost')
              th
              th
              th
