block estimate
  div
    table(class='table table-condensed table-striped')
      thead
        tr
          th!= title
          if title2
            th!= title2
          each header_item in estimate_index[variant]
            th(class='text-right') #{header_item.header}
      tbody
        each record in record_list
          tr
            td: a(href=record.url) #{record.name}
            if title2
              td: a(href=record.stewardUrl) #{record.steward}
            each header_item in estimate_index[variant]
              td(class='text-right cost') #{record.estimate[header_item.value]}
      tfoot#total
        tr
          th Итого
          each header_item in estimate_index[variant]
            th(class='text-right') 
