extends layout

block content

        div(class='row')
          div(class='col-sm-3')
            h5 Документы
            pre.
              Количество:
              #[strong Подразделения:] !{data.departments}
              #[strong Договоры:] !{data.contracts}
              #[strong Сотрудники:] !{data.stewards}
              #[strong Классификатор:] !{data.eclasses}
              #[strong Источники:] !{data.sources}
              #[strong Поступления:] !{data.incomes}
              #[strong Затраты:] !{data.outlays}
              #[strong ВидыЗатрат:] !{data.species}
              
              modification time
              Inet_SmetaLSAll.txt
              #[strong !{data.fromdate}]
              загружено
              #[strong !{data.loaded}]

              !{data.version}
            button(type="button" class="btn btn-primary" onclick="this.innerHTML='Загружаю...'; window.location.href='/importdata';") Импорт данных
            h5= dataloaded
