doctype html
html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel='stylesheet', href='/css/jquery.treegrid.css')
    script(src="/js/jquery-3.3.1.min.js")
    script(src="/js/bootstrap.min.js")
  body
    div(style="position: fixed; z-index: 1030; top: 0; right: 0; left: 0; background-color: #f8f8f8;")
      div(class="container")
        div(class="btn-toolbar")
          div(class="btn-group")
            button(type="button" class="btn btn-default" onclick="window.history.back();")
              img(src="/images/leftArrow.png" style="height: 15px;")
          div(class="btn-group")
            button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false") #{scope_list[scope]}
              span(class="caret") 
            ul(class="dropdown-menu")
              li: a(href="/report/option/scope/0") #{scope_list[0]}
              li: a(href="/report/option/scope/1") #{scope_list[1]}
          div(class="btn-group")
            button(type="button" class="btn btn-default" onclick="location='/report/departments_contracts';") Подразделения/ЛицСчета
            button(type="button" class="btn btn-default" onclick="location='/report/stewards_contracts';") Ответственные/ЛицСчета
          div(class="btn-group")
            button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false") #{variant_list[variant]}
              span(class="caret")
            ul(class="dropdown-menu")
              li: a(href="/report/option/variant/0") #{variant_list[0]}
              li: a(href="/report/option/variant/1") #{variant_list[1]}
          div(class="btn-group navbar-right" style="float: right; margin-right: 10px;")
            button(type="button" class="btn btn-default" onclick="location='/logout';") Выйти
    div(class="container")
      div(style='width:100px;height:33px')
      block content
  script(src="/js/edu.js")
