extends layout
block content
  div
    h5!= longTitle
    table(class='table tree table-condensed table-hover')
      thead
          tr
            th!= title1
            if title2
              th!= title2
            each headers in estimate_index[variant]
              th(class='text-right') #{headers.header}
      tbody
        each department in record_list
          tr(class= department.trClass)
            td
              span &nbsp;
                a(href=department.url) #{department.name}
            if title2
              td
                span &nbsp;
                  a(href=department.stewardUrl) #{department.steward}
            each headers in estimate_index[variant]
              td(class='text-right cost') #{department.estimate[headers.value]} 
  script(src='/js/jquery.treegrid.js')
  script(src='/js/jquery.treegrid.bootstrap3.js')
  script(src='/js/jquery.cookie.js')
  script.
    $(document).ready(function(){ 
      $('.tree').treegrid({initialState: 'collapsed', saveState: true}).treegrid('getRootNodes').treegrid('expand');
    });
